.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  align-self: center;
  margin: 221px auto 0;
  padding: 13px 228px 14px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 12px 235px 14px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 12px 244px 14px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px auto 60px;
  padding: 13px 205px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 65px;
    margin-left: -29px;
    margin-right: -29px;
    padding-left: 159px;
    padding-right: 159px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -29px;
    margin-right: -29px;
    padding: 13px 166px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 25px;
    margin-left: -29px;
    margin-right: -29px;
    padding: 13px 175px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -29px;
    margin-right: -29px;
    padding-right: 136px;
    padding-left: 135px;
  }
}